.games {
    display: grid;
    justify-content: center;
    gap: 1rem;

    a {
        text-decoration: none;
    }

    &__card {
        width: 800px;
        flex-direction: left;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid #383838;
    
        &:hover {
            border: 3px solid #6b6b6b;
        }

        &__image {
            img {
                height: 100px;
            }
        }

        &__title {
            font-size: 2.8rem;
            font-weight: 800;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        &__subtitle {
            margin-top: 0px;
            font-size: 1.22rem;
            font-weight: 200;
            font-style: italic;
        }
    }
}