<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/site.css" />
  <title>Night's Watch Games</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <div class="header__logo">
        <a href="/">
          <img src="/assets/favicon.png" alt="Night's Watch Games">
          Night's Watch Games
        </a>
      </div>

      <nav class="header__nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <main class="main__content">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>
  </div>
</body>

</html>