{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<div class="games">
  {% for page in section.pages %}
  <a href="{{ page.path }}">
    <div class="games__card">
      <div class="games__card__image">
        <img src="{{ page.path }}{{ page.extra.card_image }}" />
      </div>
      <div class="games__card__title">
        {{ page.title }}
      </div>
      <div class="games__card__subtitle">
        {{ page.extra.subtitle }}
      </div>
    </div>
  </a>
  {% endfor %}
</div>


{% endblock content %}